@font-face {
  font-family: "TimesNewArial";
  src: url("../fonts/TimesNewArialVF.ttf") format("truetype-variations"), url("../fonts/TimesNewArialVF.woff") format("woff");
  font-variation-settings: 'srff' 100, 'ital' 0, 'wght' 0;
}

html, body {
  background: #fff;
  z-index: 1;
  padding: 0;
  margin: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'TimesNewArial';
  font-variation-settings: "srff" 0, "ital" 0, 'wght' 0;
  font-size: 21px;
  line-height: 24px;
}

div.background {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
}

canvas {
  display: block;
}

model-viewer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
}

a, button, input, label {
  cursor: pointer;
}

a { 
  text-decoration: none;
  color: #000000;
}

a:hover { 
  text-decoration: underline;
  color: #000000;
}

a:active { 
  text-decoration: none;
  color: #000000;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.card {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 10px;
  transform: rotate(-5deg);
  transform-origin: center center;
  width: calc(896px / 2);
  height: calc(562px / 2);
  background: white;
  -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.card .intro p {
  font-size: 20px;
  font-variation-settings: "srff" 100, "ital" 0, 'wght' 0;
}

.card p {
  font-variation-settings: "srff" 0, "ital" 0, 'wght' 0;
}

.address {
padding-top: 10px;
padding-left: 10px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .card {
    transform: rotate(95deg);
  }
}

/* clippy start */
#clippy-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s;
}

#clippy-container.visible {
  visibility: visible;
  opacity: 1;
}

#clippy img {
  width: 200px;
  height: auto;
}

#clippy-tooltip {
  margin-bottom: 10px;
  padding: 10px;
  background-color: white;
  box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  font-size: 14px;
  text-align: center;
  opacity: 0;
  transition: opacity 0.5s;
}

#clippy-tooltip.visible {
  opacity: 1;
}

#clippy-tooltip a:hover {
  text-decoration: underline;
}

@media (max-width: 767px) {
  #clippy-container {
    bottom: 20px;
    right: auto;
    left: 20px;
  }
}
/* clippy end */
